<html>
<head>
    <meta charset=utf-8">
    <title>Artist</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="wrapper">
    <header>
        <div class="inner-header">
            <div class="conteiner">
                <div class="article">
                    <h1 align="center">AIGEL</h1>
                </div>
                <div class="button">
                    <form action="index.php" method="get">
                        <button class="button-enter" type="submit" name="exit" value="exit">Exit</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main>
            <div class="inner-content">
                <form action="addPhoto.php" method="post" enctype="multipart/form-data">
                    <h3>Add photo</h3>
                    <p><input type="text" name="namePhoto"></p>
                    <input type="file" name="file" multiple accept=".jpg,.jpeg,.png,.gif">
                    <input type="submit" value="Send">
                </form>
                <?php echo $this->data['message']; ?>
            </div>
        </main>
        <aside>
            <div class="inner-sidebar">
                <br>
                <a href="albums.php"><h3 align="center">Albums</h3></a>
                <a href="photo.php"><h3 align="center">Photo</h3></a>
                <a href="index.php"><h3 align="center">Home</h3></a>
            </div>
        </aside>
    </div>
    <footer>
        <div class="inner-footer"></div>
    </footer>
</div>
</body>
</html>